* { box-sizing: border-box; }
body { display: flex; flex-direction: column; height: 100%; padding: 0; margin: 0; }
nav { border-top: 1px solid black; display: flex; padding: 0 2em; height: 20%; width: 100%; }
nav > form { display: flex; flex-direction: column; justify-content: space-evenly;
             align-items: center; margin: 0em 2em; max-width: 20%; }
main { height: 80%; width: 100%; padding: 2em; }
